In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame([[1,2,3],[4,7,8],[2,9,6]], columns=['A','B','C'])

In [3]:
df2 = pd.DataFrame([[3,2,1],[23,45,67],[6,9,43]], columns=['X','Y','Z'])

In [4]:
df1

   A  B  C
0  1  2  3
1  4  7  8
2  2  9  6

In [5]:
df2

    X   Y   Z
0   3   2   1
1  23  45  67
2   6   9  43

In [9]:
df3 = pd.merge(df1, df2, right_on="Y", left_on="B")

In [10]:
df3

   A  B  C  X  Y   Z
0  1  2  3  3  2   1
1  2  9  6  6  9  43