In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8],[27,67,45,89],[9,10,11,12],[13,14,15,16,17]], columns=['A','B','C','D','E'])

In [3]:
df.head()

    A   B   C   D     E
0   1   2   3   4   NaN
1   5   6   7   8   NaN
2  27  67  45  89   NaN
3   9  10  11  12   NaN
4  13  14  15  16  17.0

In [4]:
ls

 Earnings.xlsx           'more on numpy2.ipynb'      'Numpy Tutorial.ipynb'
 export.csv              'More on Numpy.ipynb'       'Pandas Tutorial.ipynb'
'Export CSV File.ipynb'   Nifty50_2022.csv           'Read Data CSV.ipynb'
 JupyterTutorial.ipynb   'Numpy Introduction.ipynb'  'Read Data Excel.ipynb'

In [7]:
df.to_csv('export.csv', index=False)

In [6]:
ls

 Earnings.xlsx           'more on numpy2.ipynb'      'Numpy Tutorial.ipynb'
 export.csv              'More on Numpy.ipynb'       'Pandas Tutorial.ipynb'
'Export CSV File.ipynb'   Nifty50_2022.csv           'Read Data CSV.ipynb'
 JupyterTutorial.ipynb   'Numpy Introduction.ipynb'  'Read Data Excel.ipynb'