In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Earnings.xlsx')

In [3]:
df

                  Name       Date  Earnings
0      Praddyumn Yadav 2022-04-12       500
1            Lav Yadav 2022-05-22       450
2               Subham 2022-09-22        60
3                harry 2020-09-23       450
4    Snadeep Maheswari 2020-09-24       780
5         Vivek Bindra 2020-09-25       300
6  Digraj Singh Rajput 2020-09-26       770
7   Shanoo Singh Yadav 2020-09-26       272

In [4]:
df["Date"].dtype

dtype('<M8[ns]')