In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Nifty50_2022.csv')

In [3]:
df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,03-Jan-2022,17387.15,17646.65,17383.30,17625.70,200456430,16181.36
1,04-Jan-2022,17681.40,17827.60,17593.55,17805.25,247437472,18604.16
2,05-Jan-2022,17820.10,17944.70,17748.85,17925.25,251460038,23737.31
3,06-Jan-2022,17768.50,17797.95,17655.55,17745.90,236454824,22643.82
4,07-Jan-2022,17797.60,17905.00,17704.55,17812.70,239338015,21447.89

In [4]:
df["Date"].dtype

dtype('O')